<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KF CSV Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px; width: 50%;') }}
</head>
<body>
    <nav id="flex" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../static/images/amyrisWhite.png" />
            </a>
        </div>
    </nav>
    <div class="dropzone-section">
        {{ dropzone.create('/') }}
        <button id="upload" class="btn btn-primary">Upload</button>

        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
    </div>
</body>
<footer class="border-top footer">
    <div class="container">
        &copy; Amyris - 2020 - PAC
    </div>
</footer>
</html>